@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@400;700&family=Poppins:wght@300;500;800&display=swap');

@font-face{
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#DFF9D3;
    --cor1:#56F711;
    --cor2:#23A100;
    --cor3:#2E5E20;
    --cor4:#125400;;
    --fonte-padrao: Arial,Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Debas Neue', sans-serif;
    --fonte-android:'Android', sans-serif;
    
}
body{
    background-color:  var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}
main  p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.3em;
}
main strong{
    color:var(--cor2);
    font-weight: bold;
    background-color:var(--cor0);
    padding: 2px 6px;
}
main a{
    text-decoration: none;
    font-weight: bolder;
    color:var(--cor4);
    background-color: var(--cor1);
    padding: 2px 5px;
}
main a:hover{
    text-decoration: underline;
    color:var(--cor0);
}

header{
    text-align: center;
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor4));
    padding-top: 40px;
}
nav{
    background-color: var(--cor4);
    padding: 11px;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.479);
}
nav > a{
    color:var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition-duration: 0.2s;
}
nav a:hover{
    background-color: var(--cor2);
    color:var(--cor4);
}
header >h1{
    color:white;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    margin-bottom: 15px;
    font-size: 3em;
    text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.493);;
}
header > p{
    font-family: var(--fonte-destaque);
    color:white;
    font-size: 1.2em;
    max-width: 600px;
    margin:auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.493);;
    font-weight: bold;
}
main{
    padding:20px;
    min-width:300px;
    max-width:1000px;
    margin:auto;
    background-color: white;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.555);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img.pequena{
    display:block;
    max-width: 350px;
    margin:auto
}

main h1{
    font-weight: normal;
    color:var(--cor4);
    font-family:var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
    color:var(--cor3);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 9px;
}
div.video{
    background-color: var(--cor3);
    margin-bottom: 20px;
    margin: 0px -20px 30px -20px;
    padding:20px;
    position: relative;
    padding-bottom: 50%;
}
div.video >iframe{
    position: absolute;
    top: 3%;
    left: 2%;
    width: 95%;
    height:95% ;

}
aside{
    background-color: var(--cor2);
    border-radius: 10px;
    padding:10px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.459);
    
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside > h3{
    background-color: var(--cor4);
    color:white;
    padding:10px;
    margin:-10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
}
footer{
    background-color: var(--cor4);
    color:white;
    text-align: center;
    padding: 5px;

}
footer > a {
    color:white;
    font-weight: bolder;
    text-decoration: none;
}
footer > a:hover{
    text-decoration: underline;
    color:var(--cor0)
}
